{% extends "global/base.html" %}

{% block content %}
    <main>
        <article>
            <h2 class="subt">{{ post.title }}</h2>
            <p class="paragrafo">{{ post.text }}</p>
            <time datetime="{{ post.created_date }}">Publicado em: {{ post.created_date }}</time>
            <p>Autor: {{ post.owner }}</p>
        </article>
        {% if post.owner.id == user.id %}
            <a class="btn btn_update" href="{% url "blog:post_update" post.id %}">Update</a>
        {% endif %}
    </main>
{% endblock content %}