{% extends "global/base.html" %}

{% block content %}
    <main>
        <article>
            <h2 class="subt">{{ post.title }}</h2>
            <p class="paragrafo">{{ post.text }}</p>
            <time datetime="{{ post.created_date }}">Publicado em: {{ post.created_date }}</time>
            <p>Autor: {{ post.owner }}</p>
        </article>
        {% if post.owner.id == user.id %}
            <div class="post-links">
                <a class="btn btn_update" href="{% url "blog:post_update" post.id %}">Update</a>

                <form action="{% url "blog:post_delete" post.id %}" method="POST">
                {% csrf_token %}
                {% if confirmation == 'no' %}
                    <input type="hidden" name="confirmation" value="'yes'">
                    <button class="btn btn_delete" type="submit">Confirma?</button>
                {% else %}
                    <button class="btn btn_delete" type="submit">Delete</button>
                {% endif %}
            </div>
        </form>
        {% endif %}
    </main>
{% endblock content %}